h1{
    color: red;
    margin-top: 6%;
    text-align: center;
font-size: 70px;
}
h2{
    margin-top: 4%;
    font-size: 50px;
    text-align: center;
}
.red{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}