.popup{
  
    color: white;
   padding-bottom: 20px;
   background-color: rgba(2, 12, 0, 0.582);  
   
  }
  
  
  .function{
    margin: 50px;
    padding-top: 20px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 45px;
   }
   
   .tab
   {
    margin-left:-75%;
    /* background-color: white; */
     /* background-color: antiquewhite; */
     font-weight: bolder;
     text-align: center;
     color:white;
     border: 1px solid white;
     border-collapse: collapse;
     margin-top: 50px;
    
     border: 2px solid;
     
     width: 250%;
  }
  td,th{
    border: 1px solid white;
    border-collapse: collapse;
    border:2pxsolid;
  }
ul button:hover{
    background-color: rgb(220, 250, 215);
color: black;
}
.lg{
    margin-left: 750px;
    text-decoration: none;
    color: #fdfdfd;
    padding: 5px 20px;
    transition: 0.8s ease;
    border: 1px solid #fdfdfd;
    background: transparent;
  }
.td{
    margin-left: 0px;
    text-decoration: none;
    color: #fdfdfd;
    padding: 5px 20px;
    transition: 0.8s ease;
    border: 1px solid #fdfdfd;
    background: transparent;
  }
ul{
    margin-top: 0px;
    float: left;
    list-style-type:none;
    font-size: 20px;
    /* font-weight: bold; */
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fdfdfd;
    padding: 8px 20px;
    transition: 0.8s ease;
    border: 1px solid #fdfdfd;
}
ul li a:hover{
background-color: rgb(220, 250, 215);
color: black;
}
.error{
    margin-left: 600px;
    color: red;
}
.Heading {
    
    text-align: center;
    background-color: rgb(160, 177, 177);
    color: #fdfdfd;
    font-size: 50px;
    color: black;
  }
  marquee{
    font-size:xx-large;
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(160, 177, 177);
  }
  header{
    /* border: thick solid #52ab98;
    height: 500px;
    background-color: #2b6777; */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(trainBook.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh; 
}
.mt{
    margin-top: 90px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.id{
    margin-top: 30px;
    font-size:x-large;
    font-weight: bolder;
    margin-left: 500px;
    color:rgb(255, 255, 255);

}
.datebox{
    margin: 20px 100px 40px 5px;
    color: rgb(10, 10, 0);
    background-color: rgb(215, 221, 224);
    font-weight: bold;

}
.box1{
    color: rgb(10, 10, 0);
    background-color: rgb(215, 221, 224);
    font-weight: bold;
}
.box2{
    color: rgb(10, 10, 0);
    background-color: rgb(215, 221, 224);
    font-weight: bold;
    margin-bottom: 30px;
}
.d{
    font-size:x-large;
font-weight: bolder;
   margin-left: 500px;
   color:rgb(255, 255, 255);
}
.uf{
    font-size:x-large;
    font-weight: bolder;
text-align: center;
color:rgb(255, 255, 255);
}
.but1{
    font-size: 23px;
    border-radius: 45%;
    margin: 0px 200px 30px 200px;
    font-weight: bolder;
    color: rgb(0, 2, 8);
}
.but2{
    font-size: 23px;
    color: #fdfdfd;
    text-decoration: none;
    border: 1px solid #fdfdfd;
    background: transparent;    
    margin-left: 50%;
    font-weight: bolder;
}
/* body{
    background-color: rgb(212, 255, 254);
} */
/* body {
    border: 5px solid rgb(135, 247, 255);
} */